//colors
$bg-primary: #f0f6fd;
$nav-primary: #141414;

$nav-secondary: #2d2d2d;
$icons: rgb(97, 97, 97);

//fonts

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$fontSize: 16px;
$fontFamily: "Open Sans";

//defaults
$nav: 3.8rem;
